
<nav class="navbar navbar-expand-md {% if BOOTSTRAP_NAVBAR_INVERSE %}navbar-dark bg-{{ BOOTSTRAP_NAVBAR_INVERSE }}{% else %}navbar-light bg-light{% endif %} fixed-top" role="navigation">
    <div class="container-fluid" >
    {% if MENUITEMS or (pages and DISPLAY_PAGES_ON_MENU) or (categories and DISPLAY_CATEGORIES_ON_MENU) %}
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    {% endif %}
    {% if SITELOGO or not HIDE_SITENAME %}
    <a href="{{ SITEURL }}/" class="navbar-brand d-flex align-items-center">
        {% if SITELOGO %}<img class="img-fluid float-start me-2" src="{{ SITELOGO }}" alt="site logo" width="{{ SITELOGO_SIZE }}"/> {% endif %}
        {% if not HIDE_SITENAME %}{{ SITENAME }}{% endif %}
    </a>
    {% endif %}
    <div id="main-navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            {% for title, link in MENUITEMS %}
                <li class="nav-item"><a href="{{ link }}" class="nav-link">{{ title }}</a></li>
            {% endfor %}
            {% if not PAGES_SORT_ATTRIBUTE -%}
                {% set PAGES_SORT_ATTRIBUTE = 'title' %}
            {%- endif %}
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in pages | sort(attribute=PAGES_SORT_ATTRIBUTE) %}
                    {% if p.url %}
                     <li class="nav-item {% if p == page %}active{% endif %}"><a href="{{ SITEURL }}/{{ p.url }}" class="nav-link" {% if p == page %}aria-current="page"{% endif %}>
                        {% if p.fa_icon is defined %}
                        <i class="far fa-{{ p.fa_icon }}"></i>
                        {% endif %}
                         {{ p.menulabel|default(p.title) }}
                      </a></li>
                    {% endif %}
                  {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                    <li class="nav-item {% if cat == category %}active{% endif %}">
                        <a href="{{ SITEURL }}/{{ cat.url }}" class="nav-link">{{ cat | capitalize }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto">
        {% if 'search' in PLUGINS %}
          <li class="nav-item">
            <form class="d-flex" action="{{ SEARCH_URL | default('/search.html') }}">
              <input type="text" class="form-control me-2" placeholder="Search" name="q" id="tipue_search_input" required>
            </form>
          </li>
        {% endif %}
        {% if ARCHIVES_SAVE_AS %}
          <li class="nav-item"><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}" class="nav-link"><i class="fas fa-list"></i><span class="icon-label">{{ _('Archives') }}</span></a></li>
        {% endif %}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    </div>
</nav> <!-- /.navbar -->
