{% extends "base.html" %}
{% block content %}
    {% if articles %}
        <div class="article-list">
            {% for article in (articles_page.object_list if articles_page else articles) %}
                <article>
                    <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
                    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                    {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                        <div class="card border-light">
                            <div class="card-body">
                                {% include "includes/article_info.html" %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="summary">{{ article.summary }}
                        {% include 'includes/comment_count.html' %}
                        <div class="clearfix">
                            <a class="btn btn-dark btn-md float-end" href="{{ SITEURL }}/{{ article.url }}"><i class="fa fa-arrow-right"></i> {{ _('Read more') }}…</a>
                        </div>
                    </div>
                </article>
                <hr/>
            {% endfor %}
        </div>
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
